$primary-color: #4B5D67;
$secondary-color: #ff9800;
$tertiary-color: #ff5722;
$quaternary-color: #9c27b0;
$text-color: #557b83;
$dark-color: #0f0e0e;

$primary: $primary-color;
$secondary: $secondary-color;