@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import '_utils';
@import '_colors';

@import "~bootstrap/scss/bootstrap";

*{ 
  box-sizing: border-box;
}
 
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
}

img {
  width: 100%;
}

.card {
  border-radius: 0;
  border: 0;
  background-color: #fff;

  .card-header {
    background-color: $primary-color;
    border-radius: 0;
    text-align: center;

    .card-title {
      color: #fff;
      margin-top: 5px;
    }
  }

  img {
    border-radius: 0;

    &.teacher {
      height: 300px;
    }
  }

  .card-footer {
    background-color: $primary-color;
    color: #f0f0f0;
    text-align: center;
    border-radius: 0;
    font-size: 1rem;
  }
}
