@import '_colors';

.navmenu {
  background-color: $primary-color !important;
  padding: 1rem !important;

  .navbar-toggler {
    border: 0;
    box-shadow: 0 0 0 !important;
    color: #fff;

    #close_button {
    }

    &.collapsed {
      #button {
        display: none;
      }
    }
  }

  .nav-link {
    color: #fff !important;
    font-size: 14px;
    font-weight: 600;

    &.active {
      color: #fff !important;
      background-color: $secondary-color !important;
    }

    &:hover {
      color: $tertiary-color !important;

      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown-toggle::after {
    margin-left: 10px;
  }

  .dropdown-menu {
    position: relative;
    border-radius: 0;
    padding: 8px 10px;
    margin-top: -1px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: -5px;
      left: 10px;
      background-color: inherit;
      transform: rotate(-45deg);
    }

    @media (max-width: 520px) {
      &:before {
        display: none;
        visibility: hidden;
      }
    }

    a {
      font-size: 14px;
      color: $primary-color;
      font-weight: 600;
      padding: 8px 0;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $secondary-color;
      }

      &:not(:last-child) {
        border-bottom: 1px solid gray;
      }
    }
  }

  .dropdown:hover {
    .dropdown-menu {
      display: block;
    }
  }
}
