@import '_colors';

.notices {
  .card-body {
    .notice_item {
      border-bottom: 1px solid;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    .notice {
      display: grid;
      grid-template-columns: auto auto;

      .date {
        padding: 5px;
        background-color: $primary-color;
        color: #f0f0f0;
        width: 70px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        .day {
          font-size: 1.3rem;
          line-height: 20px;
          display: block;
          margin: 0;
        }

        .month_year {
          font-size: 12px;
        }
      }

      a {
        font-size: 0.9rem;
        text-decoration: none;
        color: $primary-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .btn {
      position: relative;
      margin-left: 100%;
      transform: translateX(-100%);
      font-size: 12px;
      min-width: 90px;
      border-radius: 0;
      padding: 4px 6px !important;
      font-weight: 700;
      box-shadow: 0 0 0 !important;

      &:hover {
        color: #f0f0f0;
        background-color: $primary-color;
      }
    }
  }
}
