.birthday_card {
  height: 220px;
  padding: 10px;
  background-position: center;
  background-size: cover;

  img {
    height: 150px;
  }

  div {
    text-align: center;

    p {
      font-size: 12px;
      color: #FFFFFF;
      background: #232323;
      text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    }
  }
}